#!/usr/bin/env bash
HOST="fritz.box"
USER="user"
PASS="password"
# Debug Mode
DEBUG=false
# Thresholds for Uncorrectable Errors
CRIT_LOWER[19]=10
WARN_LOWER[19]=5
# Optionally log values to a CSV file
# CSVOUT="/path/to/fritzbox.csv"
